body {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

h2 {
    font-size: 30px;
    font-weight: 800;
}

section {
    padding: 10px;
}

:focus {
    outline: none;
}

.submit-btn {
    font-size: 17px;
    padding: 10px 15px;
    background-color: hotpink;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.logo-section i {
    float: left;
    font-size: 45px;
    margin: 15px 30px 30px 50px;
    color: deeppink;
}
.menu-section {
    float: right;
    margin-right: 7rem;
}

.menu-section ul {
    list-style-type: none;
    margin-top: 2rem;
}

.menu-section ul li {
    display: inline;
    margin-left: 20px;
}

.menu-section ul li a {
    color: white;
    border-radius: 3px;
    background-color: hotpink;
    padding: 10px 15px;
    font-size: 20px;
    padding-left: 15px;
    text-decoration: none;
    font-weight: 900;
}

.menu-section ul li a:hover,
.submit-btn:hover {
    background-color: paleturquoise;
    color: black;
}

.half-map-left,
.half-video-left {
    float: left;
    margin-right: 20px;
    width: 650px;
    padding-top: 3rem;
    margin-top: 5rem;
}

.half-video-right {

    padding-top: 10rem;
}

.maps {
    margin-left: 5%;
    margin-top: 5rem;
}

.video-section {
    padding: 5%;
}

.footer-section ul {
    list-style: none;
    text-align: center;
    background-color: rgb(197, 208, 212);
    padding: 20px 0;
    margin-top: 5rem;
}

.footer-section ul li {
    display: inline;
    margin-left: 5%;
}

.footer-section ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.footer-text {
    font-weight: bold;
}